<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle><ion-icon style="color:white" name="menu"></ion-icon></button>
      
    <span *ngIf="genreSelection != true" class="genre">{{selected}}</span>
    <span *ngIf="genreSelection == true" class="genre">
      <ion-select [(ngModel)]="genreId" (ionChange)="selectionChanged($event)" >
        <ion-option  value=28 selected>Action</ion-option>
        <ion-option  value=12>Adventure</ion-option>
        <ion-option  value=16>Animation</ion-option>
        <ion-option  value=35>Comedy</ion-option>
        <ion-option  value=80>Crime</ion-option>
        <ion-option  value=18>Drama</ion-option>
        <ion-option  value=10751>Family</ion-option>
        <ion-option  value=14>Fantasy</ion-option>
        <ion-option  value=36>History</ion-option>
        <ion-option  value=27>Horror</ion-option>
        <ion-option  value=10402>Music</ion-option>
        <ion-option  value=10749>Romance</ion-option>
        <ion-option  value=878>Science Fiction</ion-option>
        <ion-option  value=53>Thriller</ion-option>
      </ion-select>
      <!-- <ion-icon name="more"></ion-icon> -->
    </span>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #eceff1">
  <ion-card class = "card" *ngFor="let movie of nowPlayingMovies" (click)="openDetails(movie)">
    
    <div class="movieImg">
      <img [src] = "imageBaseUrl+movie.poster_path" alt="">
    </div>
    <div class="movieBrief">
        <span style = "display:block">{{movie.title}}</span>
        <span style="opacity:0.4;font-size:13px">{{movie.release_date.substr(0,4)}}</span>
        <span style = "display:block">&nbsp;</span>
        <span style = "display:block;text-align:right;padding-right:25%;font-size:140%" [style.color] = "movie.vote_average/2 >= 3 ? 'green' : 'red'">{{movie.vote_average/2}}</span>
        <ul  style="margin-top:0" class="rating">
          <li>
            <ion-icon *ngIf = "fiveRating(movie.vote_average)[0]==1" name="star"></ion-icon>
            <ion-icon *ngIf = "fiveRating(movie.vote_average)[0]==0.5" name="star-half"></ion-icon>
            <ion-icon *ngIf = "fiveRating(movie.vote_average)[0]==0" name="star-outline"></ion-icon>
          </li>
          <li>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[1]==1" name="star"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[1]==0.5" name="star-half"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[1]==0" name="star-outline"></ion-icon>
          </li>
          <li>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[2]==1" name="star"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[2]==0.5" name="star-half"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[2]==0" name="star-outline"></ion-icon>
          </li>
          <li>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[3]==1" name="star"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[3]==0.5" name="star-half"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[3]==0" name="star-outline"></ion-icon>
          </li>
          <li>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[4]==1" name="star"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[4]==0.5" name="star-half"></ion-icon>
              <ion-icon *ngIf = "fiveRating(movie.vote_average)[4]==0" name="star-outline"></ion-icon>
          </li>
        </ul>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
        
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
